.myF {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 5px;
  margin: 40px auto;
}

.myI {
  padding: 7px 20px;
}
.myB {
  background-color: red;
  border: none;
  color: white;
  padding: 7px 0;
  margin-top: 15px;
  cursor: pointer;
}
