section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: orange;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
